.custom-carousel {
  /* margin-left: 20px; */
  
  .carousel-inner {
    border-radius: 1rem;
  }
  .carousel-indicators {
    bottom: -40px;
  }
  .carousel-indicators [data-bs-target] {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: #495057;
  }
}
.caraousel-images {
  height: 300px;
  width: 78vw;
}
