.btn-white {
  background-color: white;
  border: none;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 2rem;
  font-family: "Montserrat", sans-serif;
  /* extra */
  margin: 0 26px;
  border-bottom-color: white;
}

.category-card--small {
  height: 15rem;
  width: 20rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-size: cover;
  cursor: pointer;
}

.category-card--medium {
  height: 25rem;
  width: 20rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: end;
  background-size: cover;
  cursor: pointer;
}
