@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500&display=swap");

body {
  font-family: "Montserrat", sans-serif !important;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
a {
  color: black !important;
  text-decoration: none !important;
}
ul {
  padding-inline-start: 0;
}

/* global custom styles */
.h3-font-style {
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}
.h4-20 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.p-14-custom {
  font-size: 14px;
  color: black;
  font-weight: 400;
  text-align: left;
  margin-left: 40px;
}

.p-14 {
  font-size: 14px;
  color: #4f5763;
  font-weight: 400;
}

.p-16 {
  font-size: 16px;
  color: #4f5763;
  font-weight: 400;
  margin: 0;
}

.card-hover {
  /* hover effect */
  transition: 1s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    1s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}
.card-hover:hover {
  transform: scale(1.05);
}

/* global colors */
:root {
  --blue: rgb(232, 243, 243);
  --gray: rgb(73, 75, 80);
  --yellow: #ffc303;
}

/* app section styles */
.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* remove later */
  margin-bottom: 40px;

  .container {
    /* width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red; */

    .section-1 {
      display: flex;
      flex-direction: column;
      /* padding: 1rem 5rem; */
      justify-content: center;
      align-items: center;
    }

    .section-2 {
      display: flex;
      flex-direction: column;
      /* padding: 1rem 5rem; */
      justify-content: center;
      align-items: center;

      .design--div {
        display: flex;
        flex-direction: column;

        .design--heading {
          text-transform: uppercase;
          font-weight: 500;
          text-align: center;
          font-size: 1.2rem;
        }

        .design--wrapper {
          display: flex;
          border-radius: 2rem;
        }
      }
    }

    .section-3 {
      /* padding: 1rem 5rem; */
      text-align: center;

      .category-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        justify-content: center;

        .category-wrapper--child {
          display: flex;
          flex-direction: column;
          row-gap: inherit;
        }
      }
    }

    .section-4 {
      padding: 1rem 5rem;
      text-align: center;
      width: 100%;

      .section-4--div {
        display: flex;
        justify-content: center;

        .section-4--child {
          height: 22rem;
          border-radius: 0.8rem;
          background-size: cover;
          cursor: pointer;
        }
      }
    }

    .section-5 {
      padding: 1rem 5rem;
      text-align: center;
      width: 100%;

      .section-5--wrapper {
        display: flex;
        flex-direction: column;

        .section-5--row {
          display: flex;
          justify-content: center;
          gap: 1rem;

          .section-5--child {
            height: 18rem;
            width: 16rem;
            cursor: pointer;

            .section-5--img {
              height: 16rem;
              width: 16rem;
              background-size: cover;
              border-radius: 1rem;
            }
          }
        }
      }
    }
  }
}

.footer {
  padding: 1rem 5rem;
  text-align: center;
  background-color: rgb(28, 28, 28);
  display: flex;
  flex-direction: column;
  color: white;

  .footer--top {
    border-bottom: 1px solid var(--gray);
  }
  .footer--bottom {
  }
}

.footer--div {
  display: flex;

  .footer--wrapper {
    list-style-type: none;
  }
}

.footer {
  text-align: left;
}

.footer--wrapper a {
  color: white !important;
  text-decoration: auto;
  font-size: 10px;
}

.caraousel-images {
  height: 300px;
  width: 75vw;
}

/* Mobile */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .desktop-view {
    display: none !important;
  }
  .minicard--wrapper,
  .trendcard--div,
  .category-wrapper,
  .section-5 {
    width: 100vw;
    overflow: hidden;
    overflow-x: scroll;
  }
  .minicard--wrapper ::-webkit-scrollbar {
    display: none !important;
  }
  .category-wrapper {
    justify-content: initial !important;
  }
  .section-1,
  .section-2,
  .section-3,
  .section-4,
  .section-5 {
    padding: 0 !important;
  }
  .section-4--child {
    width: auto !important;
  }
  .section-4--div {
    row-gap: 1rem;
  }
  .section-5--row {
    justify-content: unset !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* .desktop-view {
    display: none !important;
  } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mobile-view {
    display: none !important;
  }
}
